---
import { getThoughts } from '../../utils/finders';

import Application from '../../layouts/Application.astro';
import Spacer from '../../components/Spacer.astro';
import TrackView from '../../components/TrackView.astro';
import PostCards from '../../components/PostCards.astro';
import GoBack from '../../components/GoBack.astro';

const thoughts = await getThoughts();
---

<Application title="Thoughts" description="A running log of ideas on software engineering, leadership, AI, running conferences and building teams and products that solve human problems.">
  <h1 class="c-heading">Thoughts<span class="c-heading--highlight">.</span></h1>

  <Spacer />

  <PostCards posts={thoughts} path="thoughts" />

  <GoBack />
</Application>

<TrackView namespace="thoughts" key="index" />
