---
import { getReviews } from '../../utils/finders';

import Application from '../../layouts/Application.astro';
import Spacer from '../../components/Spacer.astro';
import TrackView from '../../components/TrackView.astro';
import PostCards from '../../components/PostCards.astro';
import GoBack from '../../components/GoBack.astro';

const reviews = await getReviews();
---

<Application title="Reviews" description="Annual reflections on work and life.">
	<h1 class="c-heading">Reviews<span class="c-heading--highlight">.</span></h1>

	<Spacer />

  <PostCards posts={reviews} path="reviews" />

  <GoBack />
</Application>

<TrackView namespace="reviews" key="index" />
