<html>
<head>
  <title>Josh Nesbitt | <%= @title %></title>
  <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'/>
  <link href='/favicon.ico' rel='icon' type='image/x-icon'/>
  <link rel="stylesheet" type="text/css" href="/vendor/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
  <link rel="stylesheet" type="text/css" href="/vendor/stylesheets/soundmanager-360player.css" />
  <link href='http://fonts.googleapis.com/css?family=Mako|PT+Mono' rel='stylesheet' type='text/css'>
  <meta name='description' content='Josh Nesbitt is a Software Engineer from Leeds, UK.'/>
  <meta name='keywords' content='leeds, uk, yorkshire, west yorkshire, web developer, software developer, web applications, software engineer, company, consultants, stac, we are stac, wearestac, ruby on rails, ruby, rails, javascript, html, css, house, techno, music, events'/>
</head>
<body>

  <div id="content">

    <h1><a href="/">Josh Nesbitt</a></h1>

    <h2><%= @title %></h2>

    <ul>
      <li><a href="mailto:josh@wearestac.com">Mail</a></li>
      <li><a href="https://wearestac.com">Company</a></li>
      <li><a href="https://hey.wearestac.com">Hey!</a></li>
      <li><a href="https://facebook.com/soupleeds">Leeds SOUP</a></li>
      <li><a href="https://github.com/joshnesbitt">Github</a></li>
      <li><a href="https://twitter.com/joshnesbitt">Twitter</a></li>
      <li><a href="http://instagram.com/joshnesbitt">Instagram</a></li>
      <li><a href="https://mixcloud.com/joshnesbitt">Mixcloud</a></li>
      <li><a href="/mixes">Mixes</a></li>
    </ul>

    <%= yield %>

  </div>

  <div id="credit">

    <a href="http://www.flickr.com/photos/heartshapedglasses29">Photo Credits</a>

  </div>

</body>
</html>
