body {
  font-family: 'Mako', sans-serif;
  background: white url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1,
h2,
h3 {
  font-family: 'PT Mono', sans-serif;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

h1 a {
  color: #DE534A;
}

h1 a:hover {
  color: #DE534A;
  text-decoration: underline;
}

h2 {
  font-size: 1.4em;
  margin: 6px 0;
}

h3 {
  margin: 0 0 16px 0;
}

a,
a:hover {
  color: white;
}

#content {
  margin: 1.5em;
}

#content h2 {
  color: #777;
}

#content ul {
  margin: 20px 0;
}

#content ul li {
  list-style: none;
}

#credit {
  font-size: .8em;
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;
}
