@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO: Locally host Google Fonts

//
// Settings
//

$color-background: #FFFFFF;
$color-text: #000103;
$color-primary: #46FF10;
$color-spacer: #DCDCDC;

//
// App
//

::selection {
  background: $color-primary;
}

::-moz-selection {
  background: $color-primary;
}

@layer components {
  .markdown-container {
    @apply markdown
					 markdown-xl
           sm:markdown-2xl
           print:markdown-sm
					 max-w-none
					 break-words
					 md:break-normal
					 leading-8
					 hover:markdown-a:text-brand-highlight
           markdown-h1:font-medium
           markdown-h2:font-medium
           markdown-h3:font-medium
           markdown-h4:font-medium
           markdown-h5:font-medium
           markdown-code:before:hidden
           markdown-code:after:hidden
           markdown-code:px-1
           markdown-code:py-0.5
           markdown-code:font-normal
           markdown-code:rounded-sm
           markdown-hr:border-[$color-spacer]
           markdown-hr:border-y
           markdown-hr:w-6;

  }

	.c-body {
		@apply font-body
					 font-light;

		background: $color-background;
		color: $color-text;
	}

	.c-container {
		@apply container
					 max-w-screen-lg
					 mx-auto
					 my-6
					 px-6
					 text-xl
					 sm:text-2xl;
	}

	.c-heading {
		@apply font-heading
					 text-5xl
					 sm:text-7xl
					 inline-block
					 font-black;
	}

	.c-heading--highlight {
		@apply text-brand-highlight;
	}

	.c-sub-heading {
		@apply font-heading
					 font-bold
					 text-2xl
					 md:text-3xl
					 mb-2
					 sm:mb-4;
	}

	.c-link-list {
		li::marker {
  		color: $color-primary;
		}

		li {
			@apply list-none;
		}

		li:hover {
  		@apply list-disc;
		}
	}

	.c-spacer {
		@apply my-4
					 sm:my-10
					 border-y
					 w-6;

		border-color: $color-spacer;
	}
}
