@tailwind base;
@tailwind components;
@tailwind utilities;

//
// Settings
//

$color-background: #FFFFFA;
$color-text: #000103;
$color-primary: #FF312E;
$color-secondary: #868291;

//
// Fonts
//

@font-face {
  font-display: swap;
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/dm-serif-text.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-sans-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito-sans-700.woff2') format('woff2');
}

//
// App
//

::selection {
  background: $color-primary;
}

::-moz-selection {
  background: $color-primary;
}

@layer components {
  .markdown-container {
    @apply markdown
					 markdown-xl
           sm:markdown-2xl
           print:markdown-sm
					 max-w-none
					 break-words
					 md:break-normal
					 leading-8
					 hover:markdown-a:text-brand-highlight
           markdown-h1:font-medium
           markdown-h2:font-medium
           markdown-h3:font-medium
           markdown-h4:font-medium
           markdown-h5:font-medium
           markdown-code:before:hidden
           markdown-code:after:hidden
           markdown-code:px-1
           markdown-code:py-0.5
           markdown-code:font-normal
           markdown-code:rounded-sm;
  }

	.c-body {
		@apply font-body;

		background: $color-background;
		color: $color-text;
	}

	.c-container {
		@apply container
					 mx-auto
					 my-6
					 px-6
					 text-xl
					 sm:text-2xl;
	}

	.c-container--small {
			@apply max-w-screen-md;
	}

	.c-container--large {
			@apply max-w-screen-lg;
	}

	.c-heading {
		@apply font-heading
					 text-5xl
					 sm:text-7xl
					 inline-block;
	}

	.c-sub-heading {
		@apply font-bold
					 uppercase
					 text-xl
					 mb-2
					 sm:mb-4;
	}

	.c-para {
		@apply mb-4;
	}

	.c-link {
		&:hover {
			.c-link__inner {
				@apply underline;
			}

			.c-link__pointer {
				color: $color-primary;
			}
		}
	}

	.c-link__pointer {
		color: $color-secondary;
	}

	.c-spacer {
		@apply my-4
					 sm:my-10
					 border-y-2
					 w-6;

		border-color: $color-primary;
	}
}

// TODO: Sort this out into util classes?

.c-container--small {
		@apply max-w-screen-md;
}

.c-container--large {
		@apply max-w-screen-lg;
}
