---
import Meta from '../components/Meta.astro';
import Spacer from '../components/Spacer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta title="Hello" />
	</head>
	<body class="c-body">
		<div class="c-container">
			<h1 class="c-heading">Josh Nesbitt.</h1>

			<Spacer />

			<p class="c-para">Josh is a software engineer and technical leader. His work ranges from building platforms to leading some of the best-performing teams in technology.</p>
			<p>He also runs internationally recognised conferences and events, bringing people from all over the world to the heart of Leeds to learn, inspire and share stories.</p>

			<Spacer />

			<h2 class="c-sub-heading">Focus</h2>

			<ul>
				<li><a class="c-link" href="https://glean.co">Company <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://stac.works">Consultancy <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://heypresents.com/conference">Conference <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://heypresents.com/podcast">Podcast <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://stac.works/speaking">Speaking <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://joshnesbitt.cooking">Cooking <span class="c-link__pointer">→</span></a></li>
			</ul>

			<Spacer />

			<h2 class="c-sub-heading">Networks</h2>

			<ul>
				<li><a class="c-link" href="https://www.linkedin.com/in/josh-nesbitt">LinkedIn <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://github.com/joshnesbitt">GitHub <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://bsky.app/profile/joshnesbitt.dev">Bluesky <span class="c-link__pointer">→</span></a></li>
				<li><a class="c-link" href="https://www.instagram.com/joshnesbitt">Instagram <span class="c-link__pointer">→</span></a></li>
			</ul>
		</body>
		</div>
</html>
