---
import { getThoughts } from '../utils/finders';

import Application from '../layouts/Application.astro';
import Spacer from '../components/Spacer.astro';
import TrackView from '../components/TrackView.astro';
import PostCards from '../components/PostCards.astro';

const thoughts = await getThoughts(3);
---

<Application title="Hello">
	<h1 class="c-heading">Josh Nesbitt<span class="c-heading--highlight">.</span></h1>

	<Spacer />

	<div class="markdown-container">
		<p>I'm Josh, a <a href="https://www.linkedin.com/in/josh-nesbitt">technology executive</a> based in Leeds with over a decade leading engineering in product-led businesses.</p>
		<p>As CTO of <a href="https://genio.co/">a UK EdTech</a> I've taken AI from an executive question to organisation-wide practice: strategy, governance, and day-to-day engineering adoption. I grow managers into senior leaders, and build distributed engineering organisations that product teams trust, executives understand, and engineers thrive in.</p>
		<p>I also founded <a href="https://heypresents.com/conference">All Day Hey!</a>, one of the UK's longest-running independent technology conferences, and host <a href="https://heypresents.com/podcast">Off Script</a>, a podcast on engineering leadership and AI.</p>
	</div>

	<Spacer />

	<h2 class="c-sub-heading">Focus</h2>

	<ul class="c-link-list">
		<li><a href="https://genio.co">Company</a></li>
		<li><a href="https://stac.works">Consultancy</a></li>
		<li><a href="https://heypresents.com/conference">Conference</a></li>
		<li><a href="https://heypresents.com/podcast">Podcast</a></li>
		<li><a href="/thoughts">Thoughts</a></li>
		<li><a href="https://stac.works/speaking">Speaking</a></li>
		<li><a href="https://joshnesbitt.cooking">Cooking</a></li>
	</ul>

	<Spacer />

	<h2 class="c-sub-heading">Networks</h2>

	<ul class="c-link-list">
		<li><a href="https://www.linkedin.com/in/josh-nesbitt">LinkedIn</a></li>
		<li><a href="https://github.com/joshnesbitt">GitHub</a></li>
		<li><a href="https://bsky.app/profile/joshnesbitt.dev">Bluesky</a></li>
		<li><a href="https://substack.com/@joshnesbitt">Substack</a></li>
		<li><a href="https://www.instagram.com/joshnesbitt">Instagram</a></li>
	</ul>

	<Spacer />

	<h2 class="c-sub-heading">Thoughts</h2>

	<div class="-mt-6">
		<PostCards posts={thoughts} path="thoughts" />
	</div>

	<div class="markdown-container -mt-2">
		<p><a href="/thoughts">Read remaining thoughts.</a></p>
	</div>
</Application>

<TrackView key="home" />
