---
import { getThoughts } from '../utils/finders';

import Application from '../layouts/Application.astro';
import Spacer from '../components/Spacer.astro';

const thoughts = await getThoughts();
---

<Application title="Hello">
	<h1 class="c-heading">Josh Nesbitt<span class="c-heading--highlight">.</span></h1>

	<Spacer />

	<p>Hey 👋 I'm Josh, a software engineer and technical leader based in Leeds, UK. My work ranges from building sustainable platforms and products to leading some of the best-performing teams in technology. I also run internationally recognised conferences and events, bringing people together from all over the world to learn, inspire and share stories.</p>

	<Spacer />

	<h2 class="c-sub-heading">Focus</h2>

	<ul class="c-link-list">
		<li><a href="https://genio.co">Company</a></li>
		<li><a href="https://stac.works">Consultancy</a></li>
		<li><a href="https://heypresents.com/conference">Conference</a></li>
		<li><a href="https://heypresents.com/podcast">Podcast</a></li>
		<li><a href="https://stac.works/speaking">Speaking</a></li>
		<li><a href="https://joshnesbitt.cooking">Cooking</a></li>
	</ul>

	<Spacer />

	<h2 class="c-sub-heading">Thoughts</h2>

	<ul class="c-link-list">
		{
			thoughts.map((thought) => (
				<li><a href={`/thoughts/${thought.slug}`}>{thought.data.title}</a></li>
			))
		}
	</ul>

	<Spacer />

	<h2 class="c-sub-heading">Networks</h2>

	<ul class="c-link-list">
		<li><a href="https://www.linkedin.com/in/josh-nesbitt">LinkedIn</a></li>
		<li><a href="https://github.com/joshnesbitt">GitHub</a></li>
		<li><a href="https://bsky.app/profile/joshnesbitt.dev">Bluesky</a></li>
		<li><a href="https://www.instagram.com/joshnesbitt">Instagram</a></li>
	</ul>
</Application>
