---
import { getThoughts } from '../utils/finders';

import Application from '../layouts/Application.astro';
import Spacer from '../components/Spacer.astro';
import TrackView from '../components/TrackView.astro';
import PostCards from '../components/PostCards.astro';

const thoughts = await getThoughts(3);
---

<Application title="Hello">
	<div class="markdown-container">
		<p>I'm Josh, a <a href="https://www.linkedin.com/in/josh-nesbitt">CTO</a> based in Leeds with over a decade leading engineering in product-led businesses. I also founded <a href="https://heypresents.com/conference">All Day Hey!</a>, one of the UK's longest-running independent technology conferences, and host <a href="https://heypresents.com/podcast">Off Script</a>, a podcast on engineering leadership and AI.</p>
	</div>

	<Spacer />

	<h2 class="c-sub-heading">Focus</h2>

	<ul class="c-link-list">
		<li><a href="https://genio.co">Company</a></li>
		<li><a href="https://stac.works">Consultancy</a></li>
		<li><a href="https://heypresents.com/conference">Conference</a></li>
		<li><a href="https://heypresents.com/podcast">Podcast</a></li>
		<li><a href="/thoughts">Thoughts</a></li>
		<li><a href="https://stac.works/speaking">Speaking</a></li>
		<li><a href="https://joshnesbitt.cooking">Cooking</a></li>
	</ul>

	<Spacer />

	<h2 class="c-sub-heading">Thoughts</h2>

	<div class="-mt-6">
		<PostCards posts={thoughts} path="thoughts" />
	</div>

	<div class="markdown-container -mt-2">
		<p><a href="/thoughts">Read remaining thoughts.</a></p>
	</div>
</Application>

<TrackView key="home" />
