---
import { getThoughts } from '../utils/finders';

import Application from '../layouts/Application.astro';
import Spacer from '../components/Spacer.astro';
import TrackView from '../components/TrackView.astro';
import PostCards from '../components/PostCards.astro';
import Directory from '../components/Directory.astro';

const thoughts = await getThoughts(3);

const focus = [
	{ name: 'Company', href: 'https://genio.co' },
	{ name: 'Consultancy', href: 'https://stac.works' },
	{ name: 'Conference', href: 'https://heypresents.com/conference' },
	{ name: 'Podcast', href: 'https://heypresents.com/podcast' },
	{ name: 'Cooking', href: 'https://joshnesbitt.cooking' }
];
---

<Application title="Hello">
	<div class="markdown-container c-lede">
		<p>I'm Josh, a <a href="https://www.linkedin.com/in/josh-nesbitt">CTO</a> based in Leeds with over a decade leading engineering in product-led businesses. I also founded <a href="https://heypresents.com/conference">All Day Hey!</a>, one of the UK's longest-running independent technology conferences, and host <a href="https://heypresents.com/podcast">Off Script</a>, a podcast on engineering leadership and AI.</p>
	</div>

	<Spacer />

	<h2 class="c-sub-heading">Focus</h2>

	<Directory items={focus} />

	<Spacer />

	<h2 class="c-sub-heading">Thoughts</h2>

	<div class="-mt-6">
		<PostCards posts={thoughts} path="thoughts" />
	</div>

	<div class="markdown-container -mt-2">
		<p><a href="/thoughts">Read more thoughts.</a></p>
	</div>
</Application>

<TrackView key="home" />
