---
const year = new Date().getFullYear();
---

<footer class="c-footer">
	<p>&copy; {year} Josh Nesbitt</p>

	<ul class="c-footer__links">
		<li><a href="https://www.linkedin.com/in/josh-nesbitt">LinkedIn</a></li>
		<li><a href="https://github.com/joshnesbitt">GitHub</a></li>
		<li><a href="https://bsky.app/profile/joshnesbitt.dev">Bluesky</a></li>
	</ul>
</footer>
