---
import Meta from '../components/Meta.astro';
import Nav from '../components/Nav.astro';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta title={title} description={description} />
	</head>
	<body class="c-body">
		<Nav />

		<div class="c-container">
			<slot />
		</div>
	</body>
</html>
