---
import Meta from '../components/Meta.astro';

const { title, description, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta title={title} description={description} ogImage={ogImage} />
	</head>
	<body class="c-body">
		<div class="c-container">
			<slot />
		</div>
	</body>
</html>
