---
import Meta from '../components/Meta.astro';

const { title, description, container = 'small' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta title={title} description={description} />
	</head>
	<body class="c-body">
		<div class={`c-container c-container--${container}`}>
			<slot />
		</div>
	</body>
</html>
