---
import Meta from '../components/Meta.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

const { title, description, type, pubDate } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta title={title} description={description} type={type} pubDate={pubDate} />
	</head>
	<body class="c-body">
		<a href="#main" class="c-skip-link">Skip to content</a>

		<Nav />

		<main class="c-container" id="main">
			<slot />
		</main>

		<Footer />
	</body>
</html>
